#body
{
	font-family: helvetica;
}

/******

First Slide Styles

******/

#first-slide
{
	background: #000;

}

#intro
{
	padding: 20px;
	
	color: #FFF;

	/*width: 60%;*/
	height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;

}

#intro h1
{
	font-size: 5em;
}

#intro button
{
	margin-top: 1.5em;
}

#particles-js
{

}


/******

Second Slide Styles

******/


/******

Responsive Styles

******/

@media (max-width: 460px)
{
	#intro
	{
		border: none;
	}

	#intro h1
	{ font-size: 3em;  }

	#particles-js{
		width: 100%;
		height: 100%;
	}
}



